{{#each this}}
  <div class='country'>
    <h2 class='title'>{{name}}</h2>
    <div class='country-container'>
      <p><span class='subtitle'>Capital: </span>{{capital}}</p>
      <p><span class='subtitle'>Population: </span>{{population}}</p>
      <p class='subtitle'>Languages: </p>
      <ul>
        {{#each this.languages}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
      <img src='{{flag}}' alt='{{name}}' width='500' />
    </div>
  </div>
{{/each}}